<% provide(:title, "Blood donors blog | Help a life" ) %>
<% set_meta_tags :og => {
        :title    => "Blood donors blog | Help a life" ,
        :type     => "website",
        :url      => blog_posts_path,
        :image    => image_url('logo.png'),
        :description => "Blood Donors online Community.Post requirements or get donors info.
                Notify donors via instant SMS and EMAIL for your blood requirement"
}
   set_meta_tags :title => "Blood donors blog | Help a life"
   set_meta_tags :description => "Blood Donors online Community.Post requirements or get donors info.
                Notify donors via instant SMS and EMAIL for your blood requirement"

%>

<div>
  <div class="container" style="text-align: center;background-color: white">
  <h3>The HelpALife Blog</h3>
  </div>
  <div class="container blog-top">
    </br>
    <% if logged? && is_journalist? %>
      <%= link_to 'Create a new post', new_blog_post_path, class: 'btn btn-primary' %>
    <% end %>
    <div class="post-content">
      <% @posts.each do |post|%>
        <div class="post-title">
          <h1>
            <%= link_to post.title, blog_post_path(post) %>
            <p>
              <small>
                By <%= post.user.name %>
              </small>
              <small>
                <%= post.created_at.strftime('%F') %>
              </small>
            </p>
            <% if logged? && is_journalist? %>
                <div class="row">

              <% if post.is_published == true %>
                      <div class="col-md-3">
                <%= button_to "Notify Post", blog_post_notify_path(post), class: "btn btn-primary", confirm: "You want send email notification to all users?" %>
                      </div>
                        <div class="col-md-3">
                <%= button_to "Unpublish", blog_undo_publish_path(post), class: "btn btn-primary", confirm: "You want unpublish this Post?" %>
                        </div>
              <% else %>
                      <div class="col-md-3">
                <%= button_to "Publish", blog_publish_path(post), class: "btn btn-primary", confirm: "You want publish this Post?" %>
                          </div>
              <% end %>
            <% end %>
          </h1>
        </div>
        <div class="post-body">
          <%= post.text.html_safe %>
          <div class="row-fluid" >

            <table >
              <tr> <td colspan="4" >Share</td> </tr>
              <tr><td>

                <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fhelpalife.in%2Fblog%2Fposts" onclick="javascript:window.open(this.href,
                        '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;" style="margin-left: 5px;" >
                  <button class='zocial icon  facebook'></button></a>
              </td><td>
                <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= blog_posts_url %> &title=Blood donors blog &summary=Blood donors blog "onclick="javascript:window.open(this.href,
                        '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;"  style="margin-left: 5px;"><button class='zocial icon linkedin'></button></a>
              </td>
                <td>
                  <a href="http://plus.google.com/share?url=<%= blog_posts_url %>" onclick="javascript:window.open(this.href,
                          '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;" style="margin-left: 5px;"><button class='zocial icon googleplus'></button></a>
                </td><td>
                <a href="http://twitter.com/intent/tweet?&url=<%= blog_posts_url %> &text=Blood donors blog. " onclick="javascript:window.open(this.href,
                        '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;"  style="margin-left: 5px;"><button class='zocial icon twitter'></button></a>
              </td></tr></table>

          </div>
          <hr style="color: darkred"/>
          <% end %>
        </div>
    </div>
  </div>
</div>
