<% provide(:title, "Blood donors" ) %>

<div>
  <div class="container" style="text-align: center;background-color: white">
  <h3>The HelpALife Blog</h3>
  </div>
  <div class="container blog-top">
    </br>
    <% if logged? && is_journalist? %>
      <%= link_to 'Create a new post', new_blog_post_path, class: 'btn btn-primary' %>
    <% end %>
    <div class="post-content">
      <% @posts.each do |post|%>
        <div class="post-title">
          <h1>
            <%= link_to post.title, blog_post_path(post) %>
            <p>
              <small>
                By <%= post.user.name %>
              </small>
              <small>
                <%= post.created_at.strftime('%F') %>
              </small>
            </p>
            <% if logged? && is_journalist? %>
                <div class="row">

              <% if post.is_published == true %>
                      <div class="col-md-3">
                <%= button_to "Notify Post", blog_post_notify_path(post.id), class: "btn btn-primary", confirm: "You want send email notification to all users?" %>
                      </div>
                        <div class="col-md-3">
                <%= button_to "Unpublish", blog_undo_publish_path(post.id), class: "btn btn-primary", confirm: "You want unpublish this Post?" %>
                        </div>
              <% else %>
                      <div class="col-md-3">
                <%= button_to "Publish", blog_publish_path(post.id), class: "btn btn-primary", confirm: "You want publish this Post?" %>
                          </div>
              <% end %>
            <% end %>
          </h1>
        </div>
        <div class="post-body">
          <%= post.text.html_safe %>
            <div class="fb-share-button" data-href="http://helpalife.in/" data-layout="box_count">
            </div>
          <hr style="color: darkred"/>
          <% end %>
        </div>
    </div>
  </div>
</div>
