<div class="container blog-top">
  <div class="content">
    <div class="post-content">
      <div class="post-title">
        <h1>
          <%= @post.title %>
          <p>
            <small>
              By <%= @post.user.name %>
            </small>
            <small>
              <%= @post.created_at.strftime('%F') %>
            </small>
          </p>
          <% if logged? && is_journalist? %>
            <% if @post.is_published == true %>
              </br>
              <%= button_to "Notify Post", blog_post_notify_path(@post.id), class: "btn btn-primary", confirm: "You want send email notification to all users?" %>
              </br>
              <%= button_to "Unpublish", blog_undo_publish_path(@post.id), class: "btn btn-primary", confirm: "You want unpublish this Post?" %>
            <% else %>
              </br>
              <%= button_to "Publish", blog_publish_path(@post.id), class: "btn btn-primary", confirm: "You want publish this Post?" %>
            <% end %>
          <% end %>
        </h1>
      </div>
      <div class="post-body-show">
        <%= @post.text.html_safe %>
      </div>
      </br>
      <p class="view-count">
        <%= @post.impressionist_count %> views.
      </p>
      <div class="fb-share-button" data-href="http://helpalife.in/" data-layout="box_count">
      </div>
      </br>
      </br>
      <% if current_user && current_user.has_role?(:journalist) %>
        <div class="post-actions">
          <%= link_to 'Edit', edit_blog_post_path(@post), class: 'btn btn-success' %>
          <%= link_to 'Delete', blog_post_path(@post), class: 'btn btn-success', method: :delete, confirm: "Are You sure?" %>
        </div>
      <% end %>
    </div>
    </br>
    <h3>
      <%= link_to "Return to the Help a Life Blog", blog_posts_path %>
    </h3>
  </div>
</div>

