 <br>
 <br>
<div class="container">
 <div class="row">
   <div class="col-md-6 col-md-offset-3">

     <%= simple_form_for resource,
        url:  registration_path(resource_name),  as: resource_name,
        wrapper: :horizontal_form , 
        html: { method: :put, class: 'form-horizontal', multipart: true } do |f| %>

         <%= render 'shared/error_messages', object: f.object %>
         <%= f.input :name, :required => true, :value => current_user.name  , :as => :string%>
         <%= f.input :email, :required => true , :as => :string%>
         <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
             <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
         <% end %>
         <%= f.input :phone_no, :required => true,
                     :value => current_user.phone_no || (params[:user][:phone_no] unless params[:user].nil?),
                     :autofocus => true , :as => :string%>
         <%= f.input :blood_group,collection: User::BLOOD_GROUPS, :selected => current_user.blood_group ,
                      :prompt => "- Choose blood group -",
                      :required => true%>
         <%= f.input :state_id,collection: State.order(:name),:prompt => "- Select state -"%>
         <%= f.input :district_id,collection: State.order(:name), as: :grouped_select, group_method: :districts ,:prompt => "- Select district -"%>
         <%= f.input :can_send_email %>
         <%= f.input :can_send_sms %>
         <%= f.check_box :can_receive_newsletter %>

         <%#= f.label :avatar, 'Upload your profile pic' %> 
         <%#= f.file_field :avatar %>
         <%= f.input :phone_no_visibility ,label: "Phone no public" %>
         <%= f.check_box :terms_of_service %> <%= link_to "I accept terms and service","/terms",:target=>"_blank" %>
         <%= f.button :submit, "Update" ,class:'btn btn-primary'%>
         <%= link_to "Cancel",:back ,class:'btn'%>
   <% end %>
   </div>
 </div>
</div>
 <br>
 <br>
