<% provide(:title, "#{@need.patient_name}, Needs #{@need.blood_group} blood,Contact Number: #{@need.contact_number}" ) %>
<% set_meta_tags :og => {
:title    => "#{@need.patient_name}, Needs #{@need.blood_group} blood.",
:type     => "website",
:url      => need_url(@need),
:image    => image_url('logo.png'),
:description => "#{@need.patient_name}, Needs #{@need.blood_group} blood,Contact Number: #{@need.contact_number}"
}
 set_meta_tags :title => "#{@need.patient_name}, Needs #{@need.blood_group} blood."
 set_meta_tags :description => "#{@need.patient_name}, Needs #{@need.blood_group} blood,Contact Number: #{@need.contact_number}"

%>

<% "Contact Number: #{@need.contact_number}" %>
<br>
<script src="http://thecodeplayer.com/uploads/js/prefixfree-1.0.7.js" type="text/javascript" type="text/javascript"></script>
<div class="doner-search container"  style=" text-align: center; height: auto;">
  <div class="breadcrumb">
    <a href="#" >Select blood group,state,district</a>
    <a href="#" >Click search donors</a>
    <a href="#" >Find donors</a>
    <a href="#" class="active">Get donor's details</a>
    <a href="#" class="active">Notify donors via SMS and Email</a>
  </div>

    <br>
  <div class="row show_need">
    <div class="col-md-7 col-md-offset-3">
      <table style="width: 112%%;text-align: left;font-size:18px;">
        <tr>
          <td>Blood group:  <%= @need.blood_group %></td>
          <td>Date:  <%= @need.required_date%></td>
        </tr>
        <tr>
          <td>No of units:  <%= @need.required_units%></td>
          <td>Contact number:  <%= @need.contact_number%></td>
        </tr>
        <tr>
          <td>State:  <%= @need.state.name%></td>
          <td>District:  <%= @need.district.name%></td>
        </tr>
        <tr>
          <td>Hospital name:  <%= @need.hospital_name%></td>
          <td>Patient name:  <%= @need.patient_name%></td>
        </tr>
        <tr>
          <td>Reason:  <%= @need.reason%></td>

        </tr>
      </table>

    </div>
  </div>

  <% if user_signed_in? and current_user.needs.include?(@need)  %>
      <%= simple_form_for @need, :url => {:action=>"update"} ,:wrapper => :horizontal_form , html: { class: 'form-vertical',
                                                                                style: "width: 50%;margin-left: 30%;display:none"} do |f| %>
          <%= f.input :blood_group,collection: ([["A1+", "A1+"],["A1-", "A1-"], ["A2+", "A2+"],["A2-", "A2-"],
                                                 ["B+", "B+"],["B-", "B-"],["A1B+", "A1B+"],["A1B-", "A1B-"],
                                                 ["A2B+", "A2B+"],["A2B-", "A2B-"],["AB+", "AB+"],
                                                 ["AB-", "AB-"],["O+", "O+"],["O-", "O-"],["A+", "A+"],
                                                 ["A-", "A-"]]) , :prompt => "- Choose blood group -",
                      :required => true  %>

          <%= f.input :required_date ,:data_behaviour => 'datepicker', :required => true ,
                      :placeholder=> "Required Date" , :as => :string%>
          <%= f.input :required_units, :required => true ,:placeholder=> "Require Units"%>

          <%= f.input :contact_number, :required => true ,:phone_field => true,:placeholder=> "Mobile Number" , :as => :string%>

          <%= f.input :state_id,collection: State.order(:name),:prompt => "- Select state -"%>
          <%= f.input :district_id,collection: State.order(:name), as: :grouped_select, group_method: :districts ,:prompt => "- Select district -"%>
          <%= f.input :hospital_name , :required => true ,:placeholder=> "Hospital Name", :as => :string%>
          <%= f.input :patient_name,:placeholder=> "Patient Name", :required => true , :as => :string%>
          <%= f.input :reason,:placeholder=> "Reason", :required => true , :as => :string%>
          <br>
          <%= f.button :submit, "Update requirement" ,id: "notify_need",class:'btn  btn-primary' %>
          <a id="cancel_need_edit" class="btn  btn-default" href="#" style="margin-right: 25%;">Cancel</a>
      <% end %>

      <% end %>

  <% if user_signed_in? and current_user.needs.include?(@need)  %>
  <div>
    <a id="edit_requirement" class="btn  btn-primary" href="#">Edit requirement</a>
  </div>
  <% end %>
  <br>
  <div>Found &nbsp;<%=pluralize(@users.count, 'Donor')%>  </div>
  <div class="row">
    <div class="col-md-7 col-md-offset-10">
    <%= render 'home/share_need',:need => @need %>
    </div>
  </div>
</div>

<br>

<div class="container" >
  <% if @users.any? %>
  <%= render 'home/recent_users' %>
  <% else  %>
      <!--<div>Sorry, currently no donors for this selection criteria. </div>-->
      <!--<br>-->
      <!--<b>But you can post your requirement in the home page and you can share that in social medias.</b>-->
      <!--<%#= render 'referrals/site_referrals' %>-->

  <% end %>

</div>
<%=will_paginate @users%>

<script type="text/javascript">
    jQuery(function() {
        var districts;
        districts = $('#user_district_id').html();
        return $('#user_state_id').change(function() {
            var escaped_state, options, state;
            state = $('#user_state_id :selected').text();
            escaped_state = state.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
            options = $(districts).filter("optgroup[label='" + escaped_state + "']").html();
            if (options) {
                $('#user_district_id').html(options);
                $('#user_district_id').show();
                return $('#district_label').show();
            } else {
                $('#user_district_id').empty();
                $('#user_district_id').hide();
                return $('#district_label').hide();
            }
        });
    });

    $('.btn-group a').on('click', function(event){
        event.preventDefault();
        var input = $(this).siblings('.control-group').find('input[type=hidden]');
        if(input.length>0){
            if(input.val().toString() !== $(this).data('value').toString()){
                input.val($(this).data('value')).trigger('change');
            }
        }
    });

    $("#edit_requirement").on('click', function(event){
       $(".simple_form").show();
       $(".show_need").hide();
        $("#edit_requirement").hide();
        $("#cancel_need_edit").show();
    });

    $("#cancel_need_edit").on('click', function(event){
        $("#edit_requirement").show();
        $("#cancel_need_edit").show();
        $(".simple_form").hide();
        $(".show_need").show();

    });

</script>
