<style type="text/css">
.row-fluid{
    float: right;
}
</style>
<% provide(:title, "#{@need.patient_name}, Needs #{@need.blood_group} blood,Contact Number: #{@need.contact_number}" ) %>
<% set_meta_tags :og => {
:title    => "#{@need.patient_name}, Needs #{@need.blood_group} blood.",
:type     => "website",
:url      => need_url(@need),
:image    => image_url('logo.png'),
:description => "#{@need.patient_name.capitalize} needs, #{pluralize(@need.required_units ,'unit') }  of #{@need.blood_group} blood ,Contact Number:
                #{@need.contact_number}, Hospital : #{@need.hospital_name} ,State : #{@need.state.name},District : #{@need.district.name}"
}
 set_meta_tags :title => "#{@need.patient_name}, Needs #{@need.blood_group} blood."
 set_meta_tags :description => "#{@need.patient_name}, Needs #{@need.blood_group} blood,Contact Number: #{@need.contact_number}"

%>

<br>
<script src="http://thecodeplayer.com/uploads/js/prefixfree-1.0.7.js" type="text/javascript" type="text/javascript"></script>
<div class="doner-search container"  style=" text-align: left; height: auto;padding-top: 10px;box-shadow: 0 2px 2px #cbcbcb;">
    <div class="row">
      <div class="col-md-3">
        Blood group : <b class="badge alert-danger"> <%= @need.blood_group %> </b><br/>
        Date : <b class="badge alert-danger">  <%= @need.required_date%></b> <br/>
        No of units :  <%= @need.required_units%> <br/>
        Contact number :  <%= @need.contact_number%> <br/>
        State :  <%= @need.state.name%> <br/>
      </div>
      <div class="col-md-4">

        District :  <%= @need.district.name%> <br/>
        Hospital name :  <%= @need.hospital_name%> <br/>
        Patient name :  <%= @need.patient_name%> <br/>
        Reason :  <%= @need.reason%>

      </div>
      <% if user_signed_in? and current_user.needs.include?(@need)  %>
      <div class="col-md-4 pull-right" style="text-align: right">
        Manage this requirement <br/>
        <a  href="<%= edit_need_path(@need) %>" style="color: white;"> Edit </a> <br/>
        <%= link_to "Delete" ,need_path(@need) ,method: :delete , :data => {:confirm => 'Are you sure?'} ,style: "color: white;"%>
      </div>
      <% end %>
    </div>
  <br>
  <div class="row">
    <div class="col-md-4" style="text-align: left">
     Posted by,
      <br>
      <%= @need.user.name %> ,about
        <%=  distance_of_time_in_words(@need.created_at,Time.now)%>&nbsp;ago
    </div>
    <div class="col-md-4" style="text-align: center">
      <% if @users.size > 0  %>
        <div>Found &nbsp;<%=pluralize(@users.size, 'Donor')%>  </div>
      <% end  %>
    </div>
    <div class="col-md-4" style="text-align: right">
      <%= render 'home/share_need',:need => @need %>
    </div>
  </div>
</div>

<br>

<div class="container" >
  <% if @users.any? %>
  <%= render 'home/recent_users' ,users: @users%>
  <% else  %>
      <!--<div>Sorry, currently no donors for this selection criteria. </div>-->
      <!--<br>-->
      <!--<b>But you can post your requirement in the home page and you can share that in social medias.</b>-->
      <!--<%#= render 'referrals/site_referrals' %>-->

  <% end %>

</div>
<%=will_paginate @users%>

<script type="text/javascript">
    jQuery(function() {
        var districts;
        districts = $('#user_district_id').html();
        return $('#user_state_id').change(function() {
            var escaped_state, options, state;
            state = $('#user_state_id :selected').text();
            escaped_state = state.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
            options = $(districts).filter("optgroup[label='" + escaped_state + "']").html();
            if (options) {
                $('#user_district_id').html(options);
                $('#user_district_id').show();
                return $('#district_label').show();
            } else {
                $('#user_district_id').empty();
                $('#user_district_id').hide();
                return $('#district_label').hide();
            }
        });
    });

    $('.btn-group a').on('click', function(event){
        event.preventDefault();
        var input = $(this).siblings('.control-group').find('input[type=hidden]');
        if(input.length>0){
            if(input.val().toString() !== $(this).data('value').toString()){
                input.val($(this).data('value')).trigger('change');
            }
        }
    });


</script>
