<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div id=":2m5" class="ii gt m1443861f3b96d8cf adP adO"><div id=":2ma" class="a3s" style="overflow: hidden;"><div class="adM">
</div><div><div class="adM">
</div><table style="" cellspacing="0" cellpadding="0" width="100%" align="center" bgcolor="#8b0000">
  <tbody>
  <tr>
    <td><br>
      <table style="background-color:#d9dadb" cellspacing="0" cellpadding="1" align="center" bgcolor="#D9DADB">
        <tbody>
        <tr>
          <td>
            <table style="font-family:arial,helvetica,sans-serif;font-size:14px;line-height:20px;background-color:#ffffff" cellspacing="0" cellpadding="0" width="600" align="center" bgcolor="#ffffff">
              <tbody>
              <tr>
                <td width="30"><img style="display:block" src="http://helpalife.in/assets/logo.png" border="0" alt="" width="1" height="1" class="CToWUd"></td>
                <td style="font-family:arial,helvetica,sans-serif;font-size:14px;line-height:20px">
                  <p><br>
                    <a href="http://helpalife.in" target="_blank"><img src="http://helpalife.in/assets/logo.png" alt="Helpalife.in" border="0" class="CToWUd" style="width: 66px;"></a> <br>
                    <br>
                    <span class="il">Welcome</span> to Voluntary Blood Donors online Community <a
                  href=" http://helpalife.in">HelpALife.in</a>, <br>
                    <br>
                    You have successfully joined as a blood donor,

                    <br>
                    Your public profile shown below.
                    <br/>
                  <div class="media" style="border-radius: 3px;background-color: #3b494c;color: white;margin-bottom: 5px;padding: 11px;">
                    <a style="margin-rightfloat: left !important;: 10px;" href="#">
                      <% if @user.avatar_url.nil? %>
                          <img alt="User missing" class="img img-circle  img-responsive media-object" height="60" src="http://helpalife.in/assets/user_missing.png" width="60">
                      <% else  %>
                          <%= image_tag(@user.avatar_url,:class =>"img img-circle  img-responsive media-object",:size => "60")%>
                      <% end  %>
                    </a>
                    <div style="overflow: hidden;zoom:1; ">
                      <h4 style="margin: 0 0 5px;"><%= @user.name %> &nbsp;&nbsp; <%=@user.blood_group%></h4>
                      <%=@user.state.name  if @user.state %>,
                      <%=@user.district.name  if @user.district%>
                      <br>
                      Phone No:<% if @user.phone_no_visibility %>
                          <%= @user.phone_no  %>
                      <% else  %>
                          private
                          <!--say thanks...-->
                      <% end %>

                    </div>
                  </div>
                  <br>
                  <br>
                  Thank you for your participation in the Helpalife.in Voluntary Blood Donors online Community.<br>
                  <br>
                  Sincerely,</p>
                  <p>The Helpalife.in Team<br>
                    <br>
                  </p>
                </td>
                <td width="30">
              </tr>
              <tr>
                <td width="30">
                <td align="right">
                  <hr size="1px">
                </td>
                <td width="30">
              </tr>
              <tr>
                <td width="30">
                <td align="left">
                  <p style="font-size:9px;color:#999;line-height:12px;margin-top:0px;text-align:center;
                          font-family:Arial,Helvetica,sans-serif" align="center">Helpalife.in is a non profit
                    organization founded to avoid the difficulties to find donors.  <br></p>
                  <br>
                </td>
                <td width="30">
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
      <br>
    </td>
  </tr>
  </tbody>
</table><div class="yj6qo"></div><div class="adL">
</div></div><div class="adL">
</div></div></div>
</body>
</html>