<br>
<div class="row">
  <div class="col-md-3 col-md-offset-4">

    <div class="sign_up_top">
      <div class="above_from_for">
        <%= simple_form_for @user, url: otp_verify_path(:user), html: { class: 'form-vertical' }, validate: true do |f| %>

      <table style="margin-left:27px;">
            <tr><td colspan="3"><%= render 'shared/error_messages', object: f.object %></td></tr>
            <tr>
              <td style="text-align: left;"> <h3 align="center" style="margin:0px;font-size:19px;">Donor registration</h3>
                <div style="margin-top:20px;">
                  <%= f.error_notification %>
                  <%= display_base_errors @user %>
                  <%= f.input :name, :required => true ,:placeholder=> "Full name", :as => :string%>
                  <%= f.input :email, :required => true ,:placeholder=> "Email address",:type=> 'email', :as => :string%>
                  <%= f.input :password, :required => true ,:placeholder=> "Password"%>
                  <%= f.input :password_confirmation, :required => true ,:placeholder=> "Confirm Password"%>
                  <%= f.input  :phone_no,:placeholder=> "Enter Phone number without +91", :required => true, :as => :string%>

                  <%= f.input :blood_group,collection: User::BLOOD_GROUPS , :prompt => "- Choose blood group -",
                              :required => true%>

                  <%= f.input :state_id,collection: State.order(:name),:prompt => "- Select state -"%>
                  <%= f.input :district_id,collection: State.order(:name), as: :grouped_select, group_method: :districts ,:prompt => "- Select district -"%>
                  <%= f.check_box :terms_of_service, { checked: true }, "1", "0" %>
                  <%= f.label :terms_of_service, "I accept the terms of service" %>


                  <%= f.hidden_field :is_donor, :value => true%>

                  <%= f.button :submit, "Sign up & Become a donor" , :class => 'btn btn-success' %>

                </div>
              </td>
        <% end %>
        </tr>
        </table>
        <br>
        <div ><small>While social login, We dont share personal information no where,we will access public information only.</small> </div>
      </div>
    </div>
  </div>
</div>
