<div style="text-align: center">
 Recent users joined
</div>
<!---->
<ul class="small" style="font-size: 14px;
        font-weight: normal;">
  <% users.each do |user| %>
        <li>
          <% if user.avatar_url.nil? %>
              <%= image_tag(user.avatar.url(:thumb),:class =>"img img-circle",:style => "width: 35px;")%>
          <% else  %>
              <%= image_tag(user.avatar_url,:class =>"img img-circle",:style => "width: 35px;")%>
          <% end  %>
          <%=user.name%>
          <b class="counter">
          <%=user.blood_group %>
          </b>

          <%=user.state.name  if user.state %>,
          <%=user.district.name  if user.district%>
          Phone No:<% if user.phone_no_visibility %>
              <%= user.phone_no  %>
          <% else  %>
              private
              <!--say thanks...-->
          <% end %>
        </li>

  <% end %>
</ul>

<ul><li class="arrow"><%= link_to "Load more users", donors_path %></ul>
