<br>
<div style="text-align: center">
Recent blood requirements posted
</div>

<ul class="small" style="font-size: 14px;
        font-weight: normal;">
  <% @needs.each do |need| %>

      <li>
        <a  href="<%= need_path(need) %>" style="
        text-decoration: none">
       <%= need.patient_name  %>
       ,Needs
       <%= need.blood_group  %>
       blood on
        <%= need.required_date   %> 
       for <%= need.reason %> 
       State:
       <%= need.state.name %>
       District:
       <%= need.district.name %>
       Hospital:
       <%= need.hospital_name %>
       Contact number:
       <%= need.contact_number %>
        </a>
      </li>
  <% end %>
</ul>

<ul><li class="arrow"><%= link_to "See more Needs", needs_path %></ul>
