<% provide(:title, "Voluntary Blood Donors ,Helping Many life" ) %>
<%set_meta_tags :og => {
        :title    => "Blood donors | social integrated",
        :type     => 'Non profit Blood donors organization',
        :url      => donors_url,
        :image    => image_url('logo.png'),
        :description => "Post your blood requirements or register and become a donor here, we will provide ways to contact people
        and social sharing ,email notifications and instant SMS Notifications"
} %>
<br>
<script src="http://thecodeplayer.com/uploads/js/prefixfree-1.0.7.js" type="text/javascript" type="text/javascript"></script>
<div class="doner-search container"  style="height: 150px; text-align: center">
  <div class="breadcrumb">
    <a href="#" >Select blood group,state,district</a>
    <a href="#" >Click search donors</a>
    <a href="#" class="active">Find donors</a>
    <a href="#" class="active">Get donor's details</a>
    <a href="#">Notify donors via SMS and Email</a>
  </div>
  <%= render 'shared/search_donors_form' %>
  <div >Found &nbsp;<%=pluralize(@users.count, 'Donor')%> </div>
</div>

<br>

<div class="container" >
  <div class="row" >
  <% if @users.any? %>
        <div class="row" style="text-align: center;">
          <%=will_paginate @users%>
        </div>
  <%= render ('home/recent_users') %>
  <% else  %>
         <div>Sorry, currently no donors for this selection criteria.</div>
      <br>
      <b>But you can post your requirement in the home page and you can share that in social medias.</b>
      <%= render 'referrals/site_referrals' %>

  <% end %>
 </div>
  <div class="row" style="text-align: center;">
    <%=will_paginate @users%>
  </div>

</div>

<script type="text/javascript">
    jQuery(function() {
        var districts;
        districts = $('#user_district_id').html();
        return $('#user_state_id').change(function() {
            var escaped_state, options, state;
            state = $('#user_state_id :selected').text();
            escaped_state = state.replace(/([ #;&,.+*~\':"!^$[\]()=>|\/@])/g, '\\$1');
            options = $(districts).filter("optgroup[label='" + escaped_state + "']").html();
            if (options) {
                $('#user_district_id').html(options);
                $('#user_district_id').show();
                return $('#district_label').show();
            } else {
                $('#user_district_id').empty();
                $('#user_district_id').hide();
                return $('#district_label').hide();
            }
        });
    });

    $('.btn-group a').on('click', function(event){
        event.preventDefault();
        var input = $(this).siblings('.control-group').find('input[type=hidden]');
        if(input.length>0){
            if(input.val().toString() !== $(this).data('value').toString()){
                input.val($(this).data('value')).trigger('change');
            }
        }
    });

</script>
