<% provide(:title, "DEFINE YOUNG INDIA. INSPIRE THE NATION." ) %>

<div id="tzwrapper">

  <!-- Header start -->
  <header class="tz-headerHome tz-homeType1 tz-homeTypeFixed vc_row" data-option="1">
    <div class="container">
      <div class="tzHeaderContainer">
        <h3 class="pull-left tz_logo">
          <a title="Home" href="/">
            <img src="/assets/logo.png" alt="helpalife">
          </a>
        </h3>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tz-navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Menu start -->
        <nav class="nav-collapse pull-right tz-menu">
          <ul id="tz-navbar-collapse" class="nav navbar-nav collapse navbar-collapse tz-nav">
            <li><a class="link" href="#home">Home</a></li>
            <li><a class="link" href="#about">About</a></li>
            <li><a class="link" href="#agenda">Timeline</a></li>
            <li><a class="link" href="#speaker_client">Sponsors</a></li>
            <li><a class="link" href="#faq">FAQ</a></li>
            <li><a class="link" href="#register" id="register-link">Register</a></li>
            <li><a class="link" href="#contact">Contact</a></li>
          </ul>
        </nav>
        <!-- Menu end -->

      </div>
    </div>
  </header>
  <!-- Header end -->

  <!-- Slider start -->
  <div id="home" class="tz_home_slider_meetup vc_row">
    <div class="tz_home_slider_meetup_setting">
      <ul class="bxslider">
        <li>
          <div class="meetup_bl_slider_home"></div>
          <img src="/events/images/slider-1.jpg" alt="slider-home" />
        </li>
        <li>
          <div class="meetup_bl_slider_home"></div>
          <img src="/events/images/slider-2.jpg" alt="slider-home" />
        </li>
        <li>
          <div class="meetup_bl_slider_home"></div>
          <img src="/events/images/slider-3.jpg" alt="slider-home" />
        </li>
      </ul>
    </div>
    <div class="tz_content_slider_meetup">
      <div class="ds-table">
        <div class="ds-table-cell">
          <div class="tz_meetup_social">
            <span class="meetup_line_left"></span>
            <a href="https://www.facebook.com/helpalife.in" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/Helpalifein" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://plus.google.com/+HelpalifeIn-blood-donor" target="_blank"><i class="fa fa-google-plus"></i></a>
            <a href="https://www.instagram.com/helpalife.in" target="_blank"><i class="fa fa-instagram"></i></a>
            <span class="meetup_line_right"></span>
          </div>
          <div class="tz_meetup_slider_home_text">
            <h4>
              <strong>DEFINE YOUNG INDIA. INSPIRE THE NATION.</strong>
            </h4>
            <p>A NATIONWIDE CREATIVE CONTEST TO INSPIRE, CONTRIBUTE AND BUILD A HEALTHY NATION</p>
            <p><strong>A HELPALIFE.IN INITIATIVE</strong></p>
          </div>
          <div><h5 style="color:#ffffff">NUMBER OF DAYS REMAINING FOR SUBMISSION</h5></div>
          <div class="tz_meetup_countdown">
            <div id="clock"></div>
          </div>
          <div class="tz_slider_meetup_btn">
            <ul class="tz_slider_home_btn_click">
              <li>
                <a class="tz_slider_meetup_btn_1 link" href="#register">
                  REGISTER ME
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Slider end -->

  <!-- About start -->
  <section id="about" class="vc_row">
    <div class="container">
      <div class="row">
        <div class="tz_maniva_meetup_title text-center">
          <h3 class="tz_meetup_title_raleway tz_title_meetup_normal"> ABOUT THE CONTEST </h3>
          <div class="tz_meetup_title_content">
            <p><strong>Helpalife.in<strong>, a Voluntary Blood Donors Online Community and non-profit organisation, brings in a unique opportunity</p>
            <p>to unleash your creativity and define the responsible youth of tomorrow in creating health awareness and building a healthy nation.</p>
            <p>The contest includes Article Writing, Poster Design, Photography & Short Film and is open to all the students of schools and colleges in India.</p>
            <p>One winner from each category will be awarded cash prize and goodies sponsored by Helpalife.in and co-sponsors.</p>
            <p>All inspiring entries will be recognized and published on social media platforms</p>
            <p>and made available to the general public across the globe.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About end -->

  <!-- About meetup start -->
  <section id="about_meetup" class="vc_row">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom_col_pading">
          <div class="tz_maniva_about_meetup">
            <div class="tz_meetup_thumbnail">
              <a href="index.html">
                <img src="/events/images/about-1.jpg" alt="about" />
              </a>
            </div>
            <h4>
              <a href="http://www.templaza.com/" target=" _blank">WHO WE ARE?</a>
            </h4>
            <div class="tz_meetup_about_content">
              <p>We are a voluntary blood donors online community creating awareness and importance of blood donation among people.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom_col_pading">
          <div class="tz_maniva_about_meetup">
            <div class="tz_meetup_thumbnail">
              <a href="index.html">
                <img src="/events/images/about-2.jpg" alt="about" />
              </a>
            </div>
            <h4>
              <a href="http://www.templaza.com/" target=" _blank">WHAT WE DO?</a>
            </h4>
            <div class="tz_meetup_about_content">
              <p>We have created a online portal for blood donation.Our portal helps people who are in need of blood to find donors nearby.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About meetup end -->

  <!-- Counter start -->
  <section id="counter" class="vc_row">
    <div class="tz-counter tzCounter_type">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tz-counter-font">
              <i class="fa fa-users"></i>
            </div>
                    <span class="tz-counter-number">
                        <em class="stat-count">350000</em>
                    </span>
            <p class="tz-counter-title">EXPECTED STUDENTS</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tz-counter-font">
              <i class="fa fa-home"></i>
            </div>
                    <span class="tz-counter-number">
                        <em class="stat-count">105000</em>
                    </span>
            <p class="tz-counter-title">EXPECTED SUBMISSIONS</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tz-counter-font">
              <i class="fa fa-dropbox"></i>
            </div>
                    <span class="tz-counter-number">
                        <em class="stat-count">35000</em>
                    </span>
            <p class="tz-counter-title">EXPECTED COLLEGES</p>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tz-counter-font">
              <i class="fa fa-dropbox"></i>
            </div>
                    <span class="tz-counter-number">
                        <em class="stat-count">20</em>
                    </span>
            <p class="tz-counter-title">TOPICS</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- counter end -->

  <!-- Text box button start -->
  <section id="tz_text_box_button" class="vc_row">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <h3>
            <span>HURRY UP!</span>
            WIN EXCITING PRIZES
          </h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <div class="tz_meetup_btn tz_meetup_btn_custom text-center">
            <a class="tz_meetup_default" href="#register"> REGISTER ME </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Text button end -->


  <!-- Tab Event start -->
  <section id="agenda">
    <div class="container">
      <div class="tz_maniva_meetup_title text-center">
        <h3 class="tz_maniva_meetup_title_custom">
          <em>EVENT</em>
          AGENDA
        </h3>
        <div class="tz_image_title_meetup">
          <img src="/events/images/line-black-red.png" alt="line-black">
        </div>
      </div>
      <div class="tz_tab_custom">


        <!-- Tab panes -->
        <div class="tab-content tz_tab_content">
          <div role="tabpanel" class="tab-pane fade in active" id="day_1">
            <div class="tz_event_meetup">
              <div class="tz_box_event_meetup">
                <!--<h3> day 1 agenda </h3>
                <h3 class="tz_event_meetup_subtitle">
                  monday,
                  <em>june 22, 2015 - PRE-SUMMIT WORKSHOPS</em>
                </h3>-->
                <div class="tz_event_meettup_box_content">
                  <div class="tz_event_meetup_content">
                    <div class="tz_meetup_box_detail">
                      <div class="tz_meetup_box_detail_custom">
                        <span class="tz_meetup_start_time"> AUG 15, 2016 </span>
                        <h4> Registration Open </h4>
                        <p class="tz_event_time">
                          <i class="fa fa-clock-o"></i>
                          6:00AM
                        </p>
                        <div class="tz_event_meetup_item_content">
                          <p>User can can register and submit their submissions from Aug 15th onwards...</p>
                        </div>
                      </div>
                    </div>
                    <div class="tz_meetup_box_detail">
                      <div class="tz_meetup_box_detail_custom">
                        <span class="tz_meetup_start_time"> SEP 30, 2016 </span>
                        <h4> Registration Close </h4>
                        <p class="tz_event_time">
                          <i class="fa fa-clock-o"></i>
                          6:00PM
                        </p>
                        <div class="tz_event_meetup_item_content">
                        <p>All the registered users should submit their submissions on or before september 30,2016. Users will not be allowed to submit their submission after the end date</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="tz_custom_height_empty">
        <span class="vc_empty_space_inner"></span>
      </div>
      <div class="tz_meetup_btn text-left tz_custom_btn_padding">
        <a class="tz_meetup_default" target="_blank" href="/events/helpalife_poster.jpg">
         DOWNLOAD BROCHURE
          <i class="fa fa-download"></i>
        </a>
      </div>
    </div>
  </section>
  <!-- Tab Event end -->

  <!-- Speaker client start -->
  <section id="speaker_client">
    <div class="container">
      <div class="tz_maniva_meetup_title text-center">
        <!--<h3 class="tz_maniva_meetup_title_custom">-->
          <!--<em>EVENT SPONSORS</em>-->
          <!--SPECIAL THANKS-->
        <!--</h3>-->
        <!--<div class="tz_image_title_meetup">-->
          <!--<img src="/events/images/line-white-red.png" alt="line_red">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="vc_empty_space vc_empty_space_custom_3">-->
        <!--<span class="vc_empty_space_inner"></span>-->
      <!--</div>-->
      <!--<div class="tz-partner">-->
        <!--<ul class="partner-slider owl-carousel owl-theme">-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-1.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-2.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-3.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-4.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-5.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-6.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-7.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-8.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-9.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-10.png" alt="logo_client">-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div class="vc_empty_space vc_empty_space_custom">-->
        <!--<span class="vc_empty_space_inner"></span>-->
      <!--</div>-->
      <!--<div class="tz-partner">-->
        <!--<ul class="partner-slider owl-carousel owl-theme">-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-6.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-7.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-8.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-9.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-10.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-1.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-2.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-3.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-4.png" alt="logo_client">-->
          <!--</li>-->
          <!--<li>-->
            <!--<img src="/events/images/logo-meetup-5.png" alt="logo_client">-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--<div class="vc_empty_space vc_empty_space_custom_2">-->
        <!--<span class="vc_empty_space_inner"></span>-->
      <!--</div>-->
      <div class="tz_meetup_btn text-center ">
        <a class="tz_meetup_bnt_orange_bk" target="_blank" href="https://goo.gl/D35CyX"> BECOME A SPONSOR </a>
      </div>
    </div>
  </section>
  <!-- Speaker client end -->

  <!-- FAQ client start -->
  <section id="faq">
    <div class="container">
      <div class="tz_maniva_meetup_title text-center">
        <h3 class="tz_meetup_title_raleway tz_title_meetup_semi_bold">
          <em>Frequently Asked questions</em>
        </h3>
        <div class="tz_image_title_meetup">
          <img src="/events/images/line-black-red.png" alt="line">
        </div>
      </div>
      <div class="vc_empty_space vc_empty_space_4">
        <span class="vc_empty_space_inner"></span>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4>How do I participate in the contest ? </h4>
            </div>
            <div class="tz_meetup_ask">
              <p>The contest is open to all the students of schools, colleges and universities in India. Participation in the contest is through entries submitted on this website. A participant has to register oneself in the Register Now section to upload entries. Instructions to upload entries will be sent to the participant's email address once after registration.</p>
            </div>
          </div>
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4>I’d like to participate in more than one categories.</h4>
            </div>
            <div class="tz_meetup_ask">
              <p>You can participate in one or all of the four categories based on your interest and skill set. However, only one submission per each category is allowed by a participant.</p>
            </div>
          </div>
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4>What is the timeline of the contest ?</h4>
            </div>
            <div class="tz_meetup_ask">
              <p>Registration to the contest opens AUG 15, 2016 and closes SEP 30, 2016 After the closure of registration, participants cannot upload or modify entries. The date and time of announcement of results will therefore be at the sole discretion of Helpalife.in.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4>I’m a student of Open University. Am I eligible to participate ?</h4>
            </div>
            <div class="tz_meetup_ask">
              <p>Yes. Contact or Study Center authorities associated with Open Universities must approve a student’s participation in the contest. A participant must contact his Study Center authorities in order to claim one’s prize or goodies.</p>
            </div>
          </div>
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4>Does the entry to the contest involve a registration or hidden fee ?</h4>
            </div>
            <div class="tz_meetup_ask">
              <p>No. The registration to the contest is completely free. However, all other expenses involved in the making of contents will be borne by the participants and will not be reimbursed by Helpalife.in or its co-sponsors.</p>
            </div>
          </div>
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4> How do I claim my prize ?</h4>
            </div>
            <div class="tz_meetup_ask">
              <p>Winners will have to contact their school, college, study center or university authorities to claim their prizes. Helpalife.in will by no means involve in any form of dispute.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4>What are the different entry categories in the contest ?</h4>
            </div>
            <div class="tz_meetup_ask">
              <p>The contest includes four categories - Article Writing, Poster Design, Photography & Short Film. Contest rules and entry specifications will be shared with the participants after registration.</p>
            </div>
          </div>
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4>What criteria qualifies an entry ?</h4>
            </div>
            <div class="tz_meetup_ask">
              <p>The entries submitted by participants for contest have to be original in creation. Plagiarism in any form will not be entertained and can result in disqualification of the entries. Further instructions on qualifying entries will be shared with the participants after registration.</p>
            </div>
          </div>
          <div class="tz_meetup_ask_question">
            <div class="tz_meetup_question">
                            <span class="tz_icon_meetup_question">
                                <i class="fa fa-question "></i>
                            </span>
              <h4> When and how the winners of the contest will be announced ? </h4>
            </div>
            <div class="tz_meetup_ask">
              <p>
                The winners and runners-up will be announced on this website as well as on Helpalife.in portal. The same will also be shared with the respective school and college authorities by Helpalife.in.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- FAQ client end -->

  <!-- Register start -->
  <section id="register" class="parallax parallax-bk2 vc_row">
    <div class="row vc_row-flex">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom_col_pading_right vc_column_container">
        <div class="tz_padding_register vc_column-inner">
          <div class="tz_register_meetup">
            <div class="tz_register_meetup_pricing">
              <div class="tz_register_meetup_pricing_item" data-price-pricing="380">
                <div class="tz_register_meetup_pricing_item_container">
                  <h3>
                    Winner - Photography
                  </h3>
                  <p>Only photos that are unique and that are not copied will be awarded.</p>
                </div>
                <div class="tz_register_meetup_pricing_item_price">
                  <div class="ds-table">
                    <div class="ds-table-cell">
                      <h3>
                        &#8377; 3000
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tz_register_meetup_pricing_item" data-price-pricing="475">
                <div class="tz_register_meetup_pricing_item_container">
                  <h3> Winners - article writing </h3>
                  <p>Submission of arcticles that are copied from other sources will not be encouraged and will not be considered.</p>
                </div>
                <div class="tz_register_meetup_pricing_item_price ">
                  <div class="ds-table">
                    <div class="ds-table-cell">
                      <h3> &#8377; 3000 </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tz_register_meetup_pricing_item" data-price-pricing="645">
                <div class="tz_register_meetup_pricing_item_container">
                  <h3> Winner - Short films </h3>
                  <p>Submission of short films that are copied from other sources will not be encouraged and will not be considered for the event.</p>
                </div>
                <div class="tz_register_meetup_pricing_item_price ">
                  <div class="ds-table">
                    <div class="ds-table-cell">
                      <h3> &#8377; 3000 </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tz_register_meetup_pricing_item" data-price-pricing="465">
                <div class="tz_register_meetup_pricing_item_container">
                  <h3> Winner - Poster Design </h3>
                  <p>Submission of poster design that are copied from other sources will not be encouraged and will not be considered for the event.</p>
                </div>
                <div class="tz_register_meetup_pricing_item_price ">
                  <div class="ds-table">
                    <div class="ds-table-cell">
                      <h3> &#8377; 3000 </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 custom_col_pading_left vc_column_container">
        <div class="tz_form_register vc_column-inner tz_width_column">
          <div class="tz_form_register_box tz_custom_width">
            <div class="tz_maniva_meetup_title text-left">
              <h3 class="tz_maniva_meetup_title_custom tz_maniva_meetup_title_custom_white">
                <em>register</em>
                now
              </h3>
              <div class="tz_image_title_meetup">
                <img src="/events/images/line-text1.jpg" alt="line">
              </div>
            </div>
            <div>
              <%= simple_form_for(@user ||= User.new, :as => :user, :url => event_registrations_path(@tuser),
                                  :html => {:class => 'form-horizontal' },:validate=>true,:wrapper => :horizontal_form) do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>
                  <%= f.error_notification %>
                  <%= display_base_errors @user%>
                  <%= f.input :name, :required => true ,:placeholder=> "Full name", :as => :string%>
                  <%= f.input :email, :required => true ,:placeholder=> "Email address",:type=> 'email', :as => :string%>
                  <%= f.input :password, :required => true ,:placeholder=> "Password"%>
                  <%= f.input  :phone_no,:placeholder=> "Phone number", :required => true, :as => :string%>
                  <%= f.simple_fields_for :participants do |participant| %>
                      <%= participant.input :college_name, :as => :string ,:placeholder=> "College name",:label => "College"%>
                      <%= participant.input :event_name ,collection: Participant::EVENTS, :prompt => "- Please select an event -", :required => true%>
                  <% end  %>
                  <%= f.input  :is_donor,:placeholder=> "Join me as a blood donor",
                               :label => "I would like to become a blood donor", :input_html => { :checked => true }%>
                  <div id="donors-details-box" class="donor-details">
                    <%= f.input :blood_group,collection: User::BLOOD_GROUPS , :prompt => "- Choose blood group -"%>
                    <%= f.input :state_id,collection: State.order(:name),:prompt => "- Select state -"%>
                    <%= f.input :district_id,collection: State.order(:name), as: :grouped_select, group_method: :districts ,:prompt => "- Select district -"%>
                  </div>
                  <%= f.button :submit, "Register to the context" , :class => 'btn btn-primary'%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Register end -->

  <!-- Contact start -->
  <section id="contact" class="vc_row parallax parallax-bk2">
    <div class="row vc_row-flex">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 custom_col_pading_right vc_column_container">
        <div class="vc_column-inner">
          <div class="tzContact">
            <div class="text-center">
              <ul class="TzContactInfo">
                <li class="tzContactAbout">
                  505 c, Souparnika Apartments
                  <br>
                  sector 3, HSR layout.
                  <br>
                  Bengaluru - 560102,Karnataka.
                </li>
                <li class="tzContactEmail">
                  <h4> Send a Email </h4>
                  <p>
                    <a href="mailto:support@helpalife.in"> support@helpalife.in </a>
                  </p>
                </li>
                <li class="tzContactOurWeb">
                  <h4> Take a Look Our Website </h4>
                  <p>
                    <a href="http://www.helpalife.in" target="_blank"> http://www.helpalife.in </a>
                  </p>
                </li>
                <li class="tzContactPhone">+91-9629171382 , +91-9486609654 </li>
                <li class="tzContactPhone">+91-8861662114</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 custom_col_pading_left vc_column_container">
        <div class="vc_column-inner">
          <div class="tz_map_meetup tz_equal_height_gmap">
            <div class="tz_map_meetup_bk"></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7777.977550558136!2d77.63684512240778!3d12.908442813589229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1490bc51ea37%3A0x906a83b6e23cf7ad!2sSector+3%2C+HSR+Layout%2C+Bengaluru%2C+Karnataka+560102!5e0!3m2!1sen!2sin!4v1471174052118" width="800" height="600" allowfullscreen></iframe>
            <div class="tz_meet_gmap_contact">
              <div class="ds-table">
                <div class="ds-table-cell">
                  <a href="../contacts" target=" _blank"> Contact us </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact end -->

  <!-- footer start -->
  <footer class="tz-footer tz-footer-type1">
    <div class="tz-backtotop">
      <img src="/events/images/back_top_meetup.png" alt="back_top">
    </div>
    <aside class="widget tzsocial">
      <div class="tzSocial_bg">
        <div class="tzSocial_bg_meetup">
          <span class="meetup_line_left"></span>
          <a class="tzSocial-no" href="https://www.facebook.com/helpalife.in">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="tzSocial-no" href="https://twitter.com/Helpalifein">
            <i class="fa fa fa-twitter"></i>
          </a>
          <span class="meetup_line_right"></span>
        </div>
      </div>
    </aside>
    <div class="tzcopyright">
      <p>
      <p class="link">All rights reserved. Copyright © <%= Time.now.year %> ZionStar Private Limited. <!--| Template by&nbsp;<a href="http://w3layouts.com/"> W3Layouts</a>--></p>
      </p>
    </div>
  </footer>
  <!-- footer end -->

</div>

<div id="easy-opener-section"><div class="easy-opener-bg"></div><div class="easy-opener-content"><a class="easy-opener-close" href="javascript: "></a><div class="video-content"></div> </div></div>