<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% if session[:need].present? %>
        <div class="alert alert-warning">
          You need to login or register before posting a blood requirement.
        </div>
      <% end %>
      <%= simple_form_for(User.new, as: :user, url: session_path(:user), html: { class: 'form-vertical custom_login', style: "margin-left: 0px;" }) do |f| %>
        <table>
          <tr>
            <td>
              <div style="text-align: left;">
                <%= f.input :email, autofocus: true, as: :string %>
                <%= f.input :password, required: true %>
                <%= f.button :submit, "Sign in", class: 'btn btn-primary' %>
              </div>
            </td>
          </tr>
        </table>
      <% end %>
      <br/>
      <div>
        <u><%= link_to "Forgot Password?", new_password_path(:user) %></u>
      </div>
      <br/>
      <u><%= link_to "Sign up and become a donor!", new_user_registration_path %></u>
    </div>
  </div>
</div>
<br>
<br>


