<% provide(:title, "Helalpife | ICC World Cup Free Live Update" ) %>
<%set_meta_tags :og => {
        :title    => "ICC 2015 India vs Pakistan Free Live Updates by Innings on mobile",
        :type     => 'Non profit Blood donors organization',
        :url      => live_update_url,
        :image    => "http://3.bp.blogspot.com/-152wGppzdIQ/VHJCAbtoRXI/AAAAAAAAAwg/frVH8MrYxfQ/s1600/Untitled-1%2Bcopy.JPG",
        :description => "ICC 2015 India vs Pakistan Get Free Live Updates by Innings on mobile by instant SMS"
} %>

<div class="container" style="margin-bottom: 20%;">
  <h3 style="text-align: center;">ICC 2015 India vs Pakistan Free Live Innings by Innings Update on mobile</h3>
  <br/>


  <%= form_for url: subscription_message_subscribers_path ,html: {style: "padding: 3%;background: white;
"} do |f| %>

      <h4>Enter message to send to updates.</h4>

      <%= render 'shared/error_messages', object: f.object %>
      <%= display_base_errors @subscriber %>
      <div class="form-group">
        <%= f.text_area :subscription_message, class: 'form-control', required: true%>
      </div>

      <%= f.submit 'Send sms', class: 'btn btn-success' %>
      <br/>

  <% end %>

</div>