  <%= simple_form_for(@organization, html: { multipart: true }) do |f| %>
     
    <div class="form-inputs">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: 'Organization Name' %>
      <%= label_tag form_error(@organization, :name), nil,  class: 'v-error' %>
    </div>

    <div class="form-inputs">
      <%= f.label :address %>
        <%= f.text_area :address, placeholder: 'Provide address' %>
        <%= label_tag form_error(@organization, :address), nil,  class: 'v-error' %>
    </div>

    <div class="form-inputs">
        <%= f.label :description %>
        <%= f.text_area :description, placeholder: 'Provide a short description about your organization' %>
        <%= label_tag form_error(@organization, :description), nil,  class: 'v-error' %>
    </div>

    <div class="form-inputs">
      <%= f.label :banner, 'Upload a background image: ' %> 
      <%= f.file_field :banner %> 
      <%= label_tag form_error(@organization, :banner), nil,  class: 'v-error' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit , class: 'btn btn-success' %>
    </div>

  <% end %>

<!-- </div> -->

 <%#= form_for @user, :url => users_path, :html => { :multipart => true } do |form| %>
   <%#= form.file_field :avatar %>
 <%# end %>