<a href="<%= organization_path(organization) %>">
<div class="<%= is_for_index ? 'col-md-3  col-md-offset-1' : ''%>  thumbnail org-box">
  <div class="ind-org"
       style="background-image: url('<%= organization.banner.url(:thumb)%>');background-repeat: no-repeat">
    <%= hidden_field_tag :org_id, organization.id %>
  </div>
  <div class="org-details">
    <h4> <%= organization.name %>  </h4>
    <h5> <%= truncate(organization.address, :length => 120, :omission => '...')%>  </h5>
  </div>
</div>
</a>
