<style type="text/css">

  #orga_banner{
    background-image: url('<%= @organization.banner.url(:background) %>');
  }
</style>


<div id="orga_banner">

 <div class='orga-element'>
   <strong> <%= @organization.name %> </strong>
 </div> 

  <div class='orga-element'>
    <strong> <%= @organization.address %> </strong> 
  </div>
  
  <div class='orga-element'>
    <strong> <%= @organization.description %> </strong>  
  </div>  
  
</div>

<div id = "join_orga">
 <%= render 'join_organization' %> 
</div>

<div id="orga_people">
  <%if @users.present? %> 
    <%= render 'members' %> 
  <% else %>
   <h4> Sorry, No members joined yet. </h4>
   <% end %> 
</div>


<div id="other_org">
  <%= render 'other_organizations' %> 
</div>