<!-- Modal -->
<div class="modal" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Register / Login</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(User.new, as: :user, url: session_path(:user), html: { class: 'form-vertical' }) do |f| %>
          <div style="text-align: left;">
            <div style="margin-right:27px;">
            <div style="margin-left:27px;">
            <%= f.input :email, autofocus: true, as: :string %>
            <%= f.input :password, required: true %>
            <%= f.button :submit, "Sign in", class: 'btn btn-primary' %>
          </div>
            </div>
          </div>
        <% end %>
        <br/>
        <div style="margin-left:27px;">
          <u><%= link_to "Forgot Password?", new_password_path(:user) %></u>
          <br> <br>
          <u>
            <%= link_to "Sign up and become a donor!", new_user_registration_path,
                        onclick: "event.preventDefault(); $('#login').modal('hide'); setTimeout(() => { window.location.href = '#{new_user_registration_path}' }, 500);" %>
          </u>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


