<!--<div id="sb-search" class="sb-search">-->
  <!--<form>-->
    <!--<input class="sb-search-input" placeholder="Enter blood group..." type="text" value="" name="search" id="search">-->
    <!--<input class="sb-search-submit" type="submit" value="">-->
    <!--<span class="sb-icon-search"></span>-->
  <!--</form>-->
<!--</div>-->
<div class="header">
  <div class="wrap">
    <div class="logo">
      <%= link_to image_tag('logo.png',:class =>"img img-circle",
        :style => "width: 75px;",:alt => "blood donors"),root_path %>
    </div>

    <div class="h_right">
      <h4>
        <span>
          <small>Love All. Do Good. Live Well. Help A Life</small>
        </span> - helpalife.in
      </h4>

      <!-- start nav-->
      <ul class="flexy-menu thick orange">
        <li class="active">
          <a  href="<%= root_path %>">
            <span class="color">Home</span>
            <i class="icon3"></i>
          </a>
        </li>

        <li>
          <a href="<%= needs_path %>">
            <span>Requirements</span>
          </a>
        </li>

        <li>
          <a href="<%= donors_path %>">
            <span>Find Donors</span>
          </a>
        </li>

        <li>
          <a href="<%= about_path %>">
            <span>About</span>
            <i class="icon2"></i>
          </a>
          <ul style="width: 184%;">
            <!--<li><a href="#">Testimonials</a></li>-->
            <li><a href="<%= about_path %>">About Us</a></li>
            <li><a href="<%= terms_path %>">Terms & conditions</a></li>
            <li><a href="<%= vision_path %>">Vision & Mission</a></li>
            <li><a href="<%= contacts_path %>">Contact Us</a></li>
          </ul>
        </li>
        <li> <%= link_to 'Organizations', organizations_path, :'data-no-turbolink' => true %> </li>
      <% if signed_in?  %>
        <li>
          <a href="#">
            <span>
              <%= camp_profile_url %>
              <%= current_user.name %>
            </span>

            <i class="icon2"></i>
          </a>
          <ul>
            <li>
            <% if current_user && current_user.has_role?(:admin) %>
              <%= link_to 'Submissions', event_dashboard_path, :'data-no-turbolink' => true %>
              <% end  %>
            </li>
            <li>
              <%= link_to 'My Organizations', my_organizations_path, :'data-no-turbolink' => true %>
            </li>
            <li> <%= link_to 'Profile', edit_user_registration_path %> </li>
            <li> <%= link_to 'Sign out', destroy_user_session_path, rel: 'nofollow' %> </li>
          </ul>
        </li>
      <% else  %>
        <li class="last">
          <a href="#" data-toggle="modal" data-target="#login" id='register_option'>
            <span>Register / Login</span>
          </a>
        </li>
      <% end %>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'layouts/login' %>

<script type="text/javascript">
//    new UISearch( document.getElementById( 'sb-search' ) );
    //    Initialize Menu
    $(".flexy-menu").flexymenu({speed: 400,type: "horizontal",align: "right"});

</script>
