<!--<div id="sb-search" class="sb-search">-->
  <!--<form>-->
    <!--<input class="sb-search-input" placeholder="Enter blood group..." type="text" value="" name="search" id="search">-->
    <!--<input class="sb-search-submit" type="submit" value="">-->
    <!--<span class="sb-icon-search"></span>-->
  <!--</form>-->
<!--</div>-->
<div class="header">
  <div class="wrap">
    <div class="logo">
      <%= link_to image_tag('logo.png',:class =>"img img-circle",:style => "width: 75px;",:alt => "blood donors"),root_path %>
    </div>
    <div class="h_right">
      <h4> <span><small>Love All. Do Good. Live Well. Help A Life</small></span> - helpalife.in </h4>
      <!-- start nav-->
      <ul class="flexy-menu thick orange">
        <li class="active">
          <a  href="<%= root_path %>">
            <span class="color">Home</span>
            <i class="icon3"></i>
          </a>
        </li>
        <li>
          <a href="<%= needs_path %>">
            <span>Requirements</span>
          </a>
        </li>
        <li>
          <a href="<%= donors_path %>">
            <span>Find Donors</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Blog</span>
            <i class="icon3"></i>
          </a>

        </li>
        <li>
          <a href="#">
            <span>About</span>
            <i class="icon2"></i>
          </a>
          <ul>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Vision & Mission</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </li>
        <li class="last">
          <a href="#" data-toggle="modal" data-target="#login">
            <span>Register / Login</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'layouts/login' %>

<script type="text/javascript">
//    new UISearch( document.getElementById( 'sb-search' ) );
    //    Initialize Menu
    $(".flexy-menu").flexymenu({speed: 400,type: "horizontal",align: "right"});

</script>